@charset "utf-8";
@import url("font-awesome.css");

*{
    margin: 0;
}

body{
    font-family:morabba;
    color: #444;
}

h1,h2,h3,h4,h5,h6,p,button{
    font-family:morabba;
    word-spacing: 5px
}

a{
    text-decoration: none;
    cursor: pointer;
}
li:hover{
    transform: scale(.95,.95);
    cursor: pointer
}
a:hover{
    transform: scale(.95,.95);
}

/*-----------------------------------*/
/*-----------------------------------*/

.header{
    background-image: url("images/dark_tint.png"),
    url("images/bokeh_car_lights_bg.jpg")
}
.header-top{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    padding: 4vw 2vw;
}

.title a {
    color: #fff;
    font-size: 3.4vw;
}

.nav ul{
    display:flex;
    align-items: baseline;
}
.nav ul li{
    list-style-type: none;
    padding: 0 1.2vw
}
.nav ul li a{
    color: #A29898;
    font-size: 1.7vw;
}
.nav ul li a:hover{
    color:floralwhite;
    transition: all .3s ease-in-out;
}

.header-banner {
    display: flex;
    justify-content: center;
}
.header-banner pre{
    display:flex;
    flex-direction: column;
    padding:10vw 0 
}
.header-banner h2,p{
    color: white;
    text-align: center;
}
.header-banner h2{
    font-size: 4vw;
}
.header-banner p{
    font-size: 2.5vw;
    margin: 1vw 0vw 3vw;
}

.button{

    padding:.6vw 3vw;
    border: 0;
    border-radius: 1vw;
    font-size: 1.5vw;
    text-align: center;
    cursor: pointer;
}
.button:hover{
    transition: all .3s ease-in-out;
    transform: scale(.95,.95);
    cursor: pointer
}
.btn-2{
    display: flex !important;
    align-self: center !important;
    padding:1vw 10vw !important;
    background-color: #FF8326 !important;
    color: white !important; 
}
.btn-2:hover{
    transition: all .3s ease-in-out;
    transform: scale(.95,.95);
    cursor: pointer;
    background-color: #FF8424 !important;
}

/*-----------------------------------*/
/*-----------------------------------*/

.main{
    box-shadow: 0px 0px 10px 0px gray;
    margin: 1vw 0vw;
    
}
.services{
    display: flex;
    flex-direction: column;
    padding: 10vw .5vw 8vw ;
}

.services-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 8vw 0
}
.services-header p {
    color: #444;
    padding: .1vw 0 0 0;
    font-size: 3vw;
}
.services-header h2{
    font-size: 5.5vw;
}

.services-content{
    display: flex;
    flex-wrap: wrap;
}
.services-content p{
    color: white;
    font-size: 1.6vw;
}

.services-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    margin: 0 .5vw 1vw ;
    background-color:#FF8326;
    border-radius: 1vw;
    flex-basis: 25%;
    flex-grow: 1;
    border: .1vw solid black;
    line-height: 2.6vw;
    cursor: pointer;
}
.services-box:hover{
    background-color:#FF9349;
    transition: all .5s ease-in-out;
}
.services-box h4{
    margin: 0 0 1vw 0;
    font-size: 3vw;
    color: white
}

.icon{
    width: 10vw;
    height: 10vw;
    border-radius: 2vw;
    text-align: center;
    margin: 0 0 2vw
}
.icon img{
    width:10vw;
}

/*-----------------------------------*/
/*-----------------------------------*/

.about{
    display: flex;
    flex-direction: column;
    border-top: .1vw solid black;
    padding: 0 0 8vw;
}

.about-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:9vw 0 
}
.about-header p{
    color: #444 ;
    font-size: 2.8vw;
}
.about-header h2{
    color: #444 ;
    font-size: 8vw;
}
.about-header h2{
    font-size: 8vw;
}

.about-content{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 5vw 0;
    margin: 0 0 3vw;
    border-bottom: .1vw solid #E1E1E1;
    border-top: .1vw solid #E1E1E1;
    
}
.about-content p{
    color: #444 ;
    font-size: 1.5vw;
    padding: 0 0 0 1vw;
}
.about-content img{
    border-radius: 100%;
    box-shadow: 1px 1px 8px 1px gray;
    width:8vw
        
        
}
.about-box{
    display: flex;
    flex-basis: 22.9%;
    margin: 2vw 1vw;
    flex-direction: row;
    align-items: center;
}

.about-footer{
    display: flex;
    flex-direction: column;
}
.about-footer p{

    color: #444 ;
    font-size: 1.2vw;
    padding: 0 0 1.5vw;
    margin: 5vw 0 0 0
}

.btn-3{
    display: flex !important;
    align-self: center !important;
    padding:1vw 5vw !important;
    background-color: #FF8326 !important;
    color: white !important; }
.btn-3:hover{
    transition: all .3s ease-in-out;
    transform: scale(.95,.95);
    cursor: pointer;
    background-color: #FF8424 !important;
}


/*-----------------------------------*/
/*-----------------------------------*/

.contact{
    display: flex;
    flex-direction: column;
    margin: 4vw 0 0;
    background-color: #FF8326;
}

.contact-header{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 2.5vw 0 5vw 
}
.contact-header p{
    color: white;
    font-size: 1.6vw
}
.contact-header h2{
    font-size: 5.5vw;
    color: white;
}

.contact-content{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    width: 50%;
    margin: auto;
    flex-wrap: wrap
}
input[type="text"],input[type="email"]{
    display: flex;
    flex-grow: 1;
    flex-basis: 45%;
    margin:0 .3vw 1vw .3vw;
    height: 4vw;
    border-radius: .5vw;
    border: none;
}
textarea{
    display: flex;
    flex-direction: column;
    resize: none;
    border-radius: .5vw;
    border: none;
    flex-basis: 100%;
    height: 15vw;
    margin:0 .3vw 1vw .3vw;
}
[placeholder]{
   padding:.3vw 0.7vw 0;
    font-size: 1.2vw;
    font-family:morabba;
}

.btn-4{
    display: flex !important;
    align-self: center !important;
    padding:1vw 5vw !important;
    background-color: #444 !important;
    color: white!important;
    margin: 1vw 0;
}
.btn-4:hover{
    transition: all .3s ease-in-out;
    transform: scale(.95,.95);
    cursor: pointer
}

/*-----------------------------------*/
/*-----------------------------------*/

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #444;
    padding: 5vw 0 3vw 0;
}

.footer-text{
    display: flex;
    flex-direction: row;
    color: #BFBFBF;
    list-style-type: none;
    word-spacing: .2vw;
}
.footer-text li{
    padding:0 1.5vw;
    font-size: 1.5vw;
    cursor: pointer;
    
}
.footer-text li:hover{
    color: white;
    text-decoration: underline;
    transition: all 1s;
}

.footer-follow{
    display: flex;
    flex-direction: column;
    color: #BFBFBF;
    list-style-type:circle;
    margin: -1vw 2vw;
}
.footer-follow li{
    margin: .2vw 0;
    font-size: 1.3vw;
    cursor: pointer;
}
.footer-follow li:hover{
    color: white;
    text-decoration: underline;
    transition: all 1s;
}

@media screen and (max-width : 800px ){
    .services-content{
                      flex-direction: column;
                      width: 50%;
                      margin: auto
    }   
}
